Repository Pocket-Wedding/backend, pull requests merged in 2024-06, with the labels that each got.

#25 [feat/#23] WeddingHall Domain
  backend/src/main/java/pocket/backend/hall/controller/HallController.java
  backend/src/main/java/pocket/backend/hall/domain/Hall.java
  backend/src/main/java/pocket/backend/hall/domain/HallRepository.java
  backend/src/main/java/pocket/backend/hall/dto/HallRequest.java
  backend/src/main/java/pocket/backend/hall/service/HallService.java
Labels: Backend, Feat

#27 [feat#24] Company,Category,Location Domain
  .DS_Store
  backend/.DS_Store
  backend/compose.yaml
  backend/pgadmin/pgadmin4.db
  backend/pgadmin/sessions/2d5d261d-eb3c-4137-8058-c1d19c8d1996
  backend/pgadmin/sessions/4f9378c7-54a7-471a-b4b8-b22a4e3bdacb
  backend/pgadmin/sessions/8d8bee29-a6a5-4818-9d37-66ccebc87111
  backend/pgadmin/sessions/e2ad9111-40a7-4bac-b1cd-b9f3bc3e9401
  backend/pgadmin/sessions/f74e9b00-2747-4fbb-bc45-fe19068a6f7d
  backend/src/main/java/pocket/backend/BackendApplication.java
  backend/src/main/java/pocket/backend/category/controller/CategoryController.java
  backend/src/main/java/pocket/backend/category/domain/Category.java
  backend/src/main/java/pocket/backend/category/domain/CategoryNames.java
  backend/src/main/java/pocket/backend/category/domain/CategoryRepository.java
  backend/src/main/java/pocket/backend/category/dto/CategoryRequest.java
  backend/src/main/java/pocket/backend/category/dto/CategoryResponse.java
  backend/src/main/java/pocket/backend/category/service/CategoryService.java
  backend/src/main/java/pocket/backend/common/config/JpaAuditingConfig.java
  backend/src/main/java/pocket/backend/common/domain/BaseTimeEntity.java
  backend/src/main/java/pocket/backend/common/exceptions/ApiControllerAdvice.java
  backend/src/main/java/pocket/backend/common/exceptions/DuplicatedException.java
  backend/src/main/java/pocket/backend/common/exceptions/ErrorCode.java
  backend/src/main/java/pocket/backend/common/exceptions/NotFoundException.java
  backend/src/main/java/pocket/backend/company/controller/CompanyController.java
  backend/src/main/java/pocket/backend/company/domain/Company.java
  backend/src/main/java/pocket/backend/company/domain/CompanyListener.java
  backend/src/main/java/pocket/backend/company/domain/CompanyRepository.java
  backend/src/main/java/pocket/backend/company/domain/EmptyCompany.java
  backend/src/main/java/pocket/backend/company/dto/CategoryRequestDTO.java
  backend/src/main/java/pocket/backend/company/dto/CompanyRequest.java
  backend/src/main/java/pocket/backend/company/dto/LocationRequestDTO.java
  backend/src/main/java/pocket/backend/company/dto/TotalRequestDTO.java
  backend/src/main/java/pocket/backend/company/service/CompanyService.java
  backend/src/main/java/pocket/backend/location/controller/LocationController.java
  backend/src/main/java/pocket/backend/location/domain/Location.java
  backend/src/main/java/pocket/backend/location/domain/LocationRepository.java
  backend/src/main/java/pocket/backend/location/dto/LocationRequest.java
  backend/src/main/java/pocket/backend/location/dto/LocationResponse.java
  backend/src/main/java/pocket/backend/location/service/LocationService.java
  backend/src/main/java/pocket/backend/user/domain/User.java
  backend/src/main/java/pocket/backend/user/dto/AuthResponse.java
  backend/src/main/java/pocket/backend/user/service/UserService.java
  backend/src/test/java/pocket/backend/category/service/CategoryServiceTest.java
  backend/src/test/java/pocket/backend/company/service/CompanyServiceTest.java
  backend/src/test/java/pocket/backend/location/domain/LocationTest.java
  backend/src/test/java/pocket/backend/user/service/UserServiceTest.java
Labels: Backend, Feat, Refactor

#29 [feat/#28] Swagger Config
  backend/build.gradle
  backend/src/main/java/pocket/backend/common/config/SwaggerConfig.java
Labels: Backend, Feat

#33 [fix/#30] Controller 수정 완료
  backend/src/main/java/pocket/backend/BackendApplication.java
  backend/src/main/java/pocket/backend/category/controller/CategoryController.java
  backend/src/main/java/pocket/backend/category/domain/Category.java
  backend/src/main/java/pocket/backend/category/dto/CategoryDeleteRequest.java
  backend/src/main/java/pocket/backend/category/dto/CategoryRegisterRequest.java
  backend/src/main/java/pocket/backend/category/dto/CategoryRequest.java
  backend/src/main/java/pocket/backend/category/dto/CategoryResponse.java
  backend/src/main/java/pocket/backend/category/dto/CategoryUpdateRequest.java
  backend/src/main/java/pocket/backend/category/service/CategoryService.java
  backend/src/main/java/pocket/backend/common/exceptions/ApiControllerAdvice.java
  backend/src/main/java/pocket/backend/common/exceptions/ErrorCode.java
  backend/src/main/java/pocket/backend/company/controller/CompanyController.java
  backend/src/main/java/pocket/backend/company/domain/Company.java
  backend/src/main/java/pocket/backend/company/domain/CompanyListener.java
  backend/src/main/java/pocket/backend/company/dto/CompanyDeleteRequestDTO.java
  backend/src/main/java/pocket/backend/company/dto/CompanyRegisterRequestDTO.java
  backend/src/main/java/pocket/backend/company/dto/CompanyResponse.java
  backend/src/main/java/pocket/backend/company/dto/CompanyUpdateRequestDTO.java
  backend/src/main/java/pocket/backend/company/dto/TotalRequestDTO.java
  backend/src/main/java/pocket/backend/company/service/CompanyService.java
  backend/src/main/java/pocket/backend/hall/controller/HallController.java
  backend/src/main/java/pocket/backend/location/controller/LocationController.java
  backend/src/main/java/pocket/backend/location/domain/Location.java
  backend/src/main/java/pocket/backend/location/dto/LocationDeleteRequest.java
  backend/src/main/java/pocket/backend/location/dto/LocationRegisterRequest.java
  backend/src/main/java/pocket/backend/location/dto/LocationResponse.java
  backend/src/main/java/pocket/backend/location/dto/LocationUpdateRequest.java
  backend/src/main/java/pocket/backend/location/service/LocationService.java
  backend/src/main/java/pocket/backend/user/domain/User.java
  backend/src/main/java/pocket/backend/user/dto/SignUpRequest.java
  backend/src/main/java/pocket/backend/user/service/UserService.java
  backend/src/test/java/pocket/backend/category/service/CategoryServiceTest.java
Labels: Backend, Fix

#35 [feat#26] WeddingHall Domain Test
  backend/src/test/java/pocket/backend/Hall/service/HallServiceTest.java
Labels: Backend, Feat

#36 [feat/#34] TestCode와 Global Exception Advise 추가
  .github/workflows/java-build.yml
  backend/build.gradle
  backend/compose.yaml
  backend/src/main/java/pocket/backend/category/dto/CategoryDeleteRequest.java
  backend/src/main/java/pocket/backend/category/dto/CategoryRegisterRequest.java
  backend/src/main/java/pocket/backend/category/dto/CategoryUpdateRequest.java
  backend/src/main/java/pocket/backend/category/service/CategoryService.java
  backend/src/main/java/pocket/backend/common/exceptions/ApiControllerAdvice.java
  backend/src/main/java/pocket/backend/common/exceptions/ErrorCode.java
  backend/src/main/java/pocket/backend/common/exceptions/InvalidParameterException.java
  backend/src/main/java/pocket/backend/common/validator/NameValidator.java
  backend/src/main/java/pocket/backend/company/service/CompanyService.java
  backend/src/main/java/pocket/backend/location/dto/LocationDeleteRequest.java
  backend/src/main/java/pocket/backend/location/dto/LocationRegisterRequest.java
  backend/src/main/java/pocket/backend/location/dto/LocationUpdateRequest.java
  backend/src/main/java/pocket/backend/location/service/LocationService.java
  backend/src/main/java/pocket/backend/user/domain/User.java
  backend/src/test/java/pocket/backend/category/service/CategoryServiceTest.java
  backend/src/test/java/pocket/backend/company/service/CompanyServiceTest.java
  backend/src/test/java/pocket/backend/location/service/LocationServiceTest.java
  backend/src/test/java/pocket/backend/user/service/UserServiceTest.java
Labels: Backend, Fix

#40 [refactor/#39] Hall Domain DTO 리팩토링
  backend/src/main/java/pocket/backend/hall/controller/HallController.java
  backend/src/main/java/pocket/backend/hall/domain/Hall.java
  backend/src/main/java/pocket/backend/hall/dto/HallDeleteRequestDTO.java
  backend/src/main/java/pocket/backend/hall/dto/HallRegisterRequestDTO.java
  backend/src/main/java/pocket/backend/hall/dto/HallRequest.java
  backend/src/main/java/pocket/backend/hall/dto/HallRequestDTO.java
  backend/src/main/java/pocket/backend/hall/dto/HallResponseDTO.java
  backend/src/main/java/pocket/backend/hall/dto/HallUpdateRequestDTO.java
  backend/src/main/java/pocket/backend/hall/service/HallService.java
Labels: Backend, Refactor

#42 [feat/#41] JaCoCo 적용
  .github/workflows/java-build.yml
  backend/build.gradle
  backend/src/main/java/pocket/backend/company/dto/CompanyUpdateRequestDTO.java
  backend/src/main/java/pocket/backend/user/domain/User.java
  backend/src/test/java/pocket/backend/company/domain/CompanyTest.java
Labels: Backend, Devops, Feat

#45 [feat/#43] Spring Batch
  .github/workflows/java-build.yml
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/pocket/backend/BackendApplication.java
  backend/src/main/java/pocket/backend/common/config/AutoWiringSpringBeanJobFactory.java
  backend/src/main/java/pocket/backend/common/config/ExampleBatchConfig.java
  backend/src/main/java/pocket/backend/common/config/ExampleJob.java
  backend/src/main/java/pocket/backend/common/config/QuartzConfig.java
Labels: Backend, Feat

#47 feat: WebMvcConfigurer을 통한 CORS 문제 해결
  backend/build.gradle
  backend/src/main/java/pocket/backend/common/config/CorsConfig.java
Labels: Backend, Feat

#49 refactor: docker network external
  backend/compose.yaml
Labels: Backend, Refactor

#50 [refactor/#44] Hall Domain Service Test 리팩토링
  backend/src/main/java/pocket/backend/hall/controller/HallController.java
  backend/src/main/java/pocket/backend/hall/domain/Hall.java
  backend/src/main/java/pocket/backend/hall/domain/HallRepository.java
  backend/src/main/java/pocket/backend/hall/dto/HallRegisterRequestDTO.java
  backend/src/main/java/pocket/backend/hall/service/HallService.java
  backend/src/test/java/pocket/backend/Hall/service/HallServiceTest.java
Labels: Backend, Fix, Test

#52 [feat/#51] Hall Domain update 기능 테스트
  backend/src/main/java/pocket/backend/hall/controller/HallController.java
  backend/src/main/java/pocket/backend/hall/domain/Hall.java
  backend/src/main/java/pocket/backend/hall/dto/HallRegisterRequestDTO.java
  backend/src/main/java/pocket/backend/hall/dto/HallUpdateRequestDTO.java
  backend/src/main/java/pocket/backend/hall/service/HallService.java
  backend/src/test/java/pocket/backend/Hall/service/HallServiceTest.java
Labels: Backend, Feat, Test

#54 [feat/#53] Hall Domain delete 기능 테스트
  backend/src/main/java/pocket/backend/hall/controller/HallController.java
  backend/src/main/java/pocket/backend/hall/domain/Hall.java
  backend/src/main/java/pocket/backend/hall/dto/HallDeleteRequestDTO.java
  backend/src/main/java/pocket/backend/hall/service/HallService.java
  backend/src/test/java/pocket/backend/Hall/service/HallServiceTest.java
Labels: Backend, Feat, Test
